<!DOCTYPE html>
<html>
<head>
    <title>Please login or create account!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!--STYLES-->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.6/flatly/bootstrap.min.css">
    <link rel="stylesheet" href="/css/styles.css">
    <!--STYLES END-->
    <script type="text/javascript">
        window.SAILS_LOCALS = { _csrf: "<%= _csrf %>" };
    </script>
</head>
<body ng-app="publicApp">
    <div class="container" ng-view></div>

    <!--SCRIPTS-->
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0/angular.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0/angular-route.min.js"></script>
    <script src="/js/public/app.js"></script>
    <script src="/js/public/directives.js"></script>
    <script src="/js/public/controllers.js"></script>
    <!--SCRIPTS END-->
</body>
</html>