<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#/">Single Page App</a>
        </div>
        <div class="collapse navbar-collapse" id="navbar">
            <ul class="nav navbar-nav">
                <li><a href="#/">Home</a></li>
                <li class="active"><a href="#/users">Users</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#" ng-click="logout()">Logout</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="row">
    <div class="col-lg-12">
        <h2>Here you can edit existing user!</h2>
    </div>
</div>

<div class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="well">
                <form ng-submit="editUser.submit()" name="edit" class="form-horizontal">
                    <div class="alert alert-dismissible alert-danger" ng-show="editUser.showAlert">
                        <button type="button" class="close" ng-click="editUser.toggleAlert()">&times;</button>
                        <span>{{ editUser.error }}</span>
                    </div>
                    <fieldset>
                        <div class="form-group has-feedback"
                             ng-class="{'has-error':edit.firstName.$invalid && edit.firstName.$dirty}">
                            <label class="col-md-2 control-label">First Name</label>
                            <div class="col-md-10">
                                <input
                                        type="text"
                                        class="form-control"
                                        placeholder="First Name"
                                        name="firstName"
                                        ng-model="editUser.data.firstName"
                                        ng-maxlength="30"
                                        required>
                                <span ng-show="edit.firstName.$invalid && edit.firstName.$dirty" class="glyphicon glyphicon-warning-sign form-control-feedback" aria-hidden="true"></span>
                                <span class="help-block has-error" ng-show="edit.firstName.$invalid && edit.firstName.$dirty">
                                    <span ng-show="edit.firstName.$error.required">First name is required.</span>
                                    <span ng-show="edit.firstName.$error.maxlength">The first name can't be more than 30 characters.</span>
                                </span>
                            </div>
                        </div>
                        <div class="form-group has-feedback"
                             ng-class="{'has-error':edit.lastName.$invalid && edit.lastName.$dirty}">
                            <label class="col-md-2 control-label">Last Name</label>
                            <div class="col-md-10">
                                <input
                                        type="text"
                                        class="form-control"
                                        placeholder="Last Name"
                                        name="lastName"
                                        ng-model="editUser.data.lastName"
                                        ng-maxlength="30"
                                        required>
                                <span ng-show="edit.lastName.$invalid && edit.lastName.$dirty" class="glyphicon glyphicon-warning-sign form-control-feedback" aria-hidden="true"></span>
                                <span class="help-block has-error" ng-show="edit.firstName.$invalid && edit.firstName.$dirty">
                                    <span ng-show="edit.lastName.$error.required">Last name is required.</span>
                                    <span ng-show="edit.lastName.$error.maxlength">The last name can't be more than 30 characters.</span>
                                </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">Email Address</label>
                            <div class="col-md-10">
                                <input
                                        type="email"
                                        class="form-control"
                                        placeholder="Email Address"
                                        name="email"
                                        ng-model="editUser.data.email"
                                        required
                                        disabled>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">Role</label>
                            <div class="col-md-10">
                                <select
                                        class="form-control"
                                        name="role"
                                        ng-model="editUser.data.role"
                                        required>
                                    <option value="user">User</option>
                                    <option value="admin">Admin</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-10 col-md-offset-2">
                                <button class="btn btn-success" type="submit" ng-disabled="edit.$invalid">
                                    <span ng-show="!editUser.loading">Save changes</span>
                                    <span ng-show="editUser.loading">Saving...</span>
                                </button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>