<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#/">Single Page App</a>
        </div>
        <div class="collapse navbar-collapse" id="navbar">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#/">Home</a></li>
                <li><a href="#/users">Users</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#" ng-click="logout()">Logout</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="jumbotron">
    <h1>Welcome {{ USER.firstName }}</h1>
    <p>Using this app you can list, edit, create and remove users!</p>
    <p><a href="#/users/create" class="btn btn-primary btn-lg">Create new user!</a></p>
</div>

<div class="row">
    <div class="col-lg-12">
        <h2>List of users!</h2>
    </div>
</div>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Full Name</th>
            <th>Email Address</th>
            <th>Role</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="user in users">
            <td>{{ user.firstName + ' ' + user.lastName }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.role }}</td>
        </tr>
    </tbody>
</table>